version: '3.8'

services:
  db-dev:
    profiles:
      - dev
      - local
    image: postgres:14
    hostname: db-dev
    restart: unless-stopped
    ports:
      - '${DATABASE_PORT:?DATABASE_PORT env var is missing on .env file}:5432'
    environment:
      POSTGRES_DB: ${DATABASE_NAME:?DATABASE_NAME env var is missing on .env file}
      POSTGRES_USER: ${DATABASE_USERNAME:?DATABASE_USERNAME env var is missing on .env file}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:?DATABASE_PASSWORD env var is missing on .env file}
    volumes:
      - ./data/db-dev:/var/lib/postgresql/data

  db-test:
    profiles:
      - test
    image: postgres:14
    hostname: db-test
    restart: unless-stopped
    ports:
      - '${DATABASE_PORT:?DATABASE_PORT env var is missing on .env file}:5432'
    environment:
      POSTGRES_DB: ${DATABASE_NAME:?DATABASE_NAME env var is missing on .env file}
      POSTGRES_USER: ${DATABASE_USERNAME:?DATABASE_USERNAME env var is missing on .env file}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:?DATABASE_PASSWORD env var is missing on .env file}

  adminer:
    profiles:
      - dev
      - local
    image: adminer
    hostname: adminer
    restart: unless-stopped
    ports:
      - '${ADMINER_PORT:?ADMINER_PORT env var is missing on .env file}:8080'
    depends_on:
      - db-dev

  api-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: ./build/dev/Dockerfile
    hostname: api-dev
    restart: unless-stopped
    ports:
      - '${API_PORT:?API_PORT env var is missing on .env file}:3001'
    environment:
      DATABASE_HOST: 'db-dev'
      DATABASE_PORT: '5432'
    volumes:
      - ./src:/usr/app/src
    depends_on:
      - db-dev

  api-prod:
    profiles:
      - prod
    build:
      context: ./build/prod
      dockerfile: Dockerfile
    hostname: api-prod
    restart: unless-stopped
    ports:
      - '${API_PORT:?API_PORT env var is missing on .env file}:3001'

