# ----------------------------------------------------------------
# docker-compose env file
# ----------------------------------------------------------------
NODE_ENV=local

# API Config
API_PORT=3001

# Adminer Config
ADMINER_PORT=8081

# Database Config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=node-leap-dev-db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
APP_DATABASE_URL=postgres://postgres:password@localhost:5432/node-leap-dev-db

#Redis
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001
APP_REDIS_URL=redis://@localhost:6379
APP_REDIS_PREFIX=node-leap

# CORS
PRODUCTION_DEPLOY_URL=
PRODUCTION_FRONT_DEPLOY_URL=
STAGE_DEPLOY_URL=cd.api.stage.loomi.com
STAGE_FRONT_DEPLOY_URL=


#JWT
APP_JWT_ACCESS_TOKEN_VERSION=
APP_JWT_ACCESS_TOKEN_SECRET=
APP_JWT_ACCESS_TOKEN_EXPIRES_IN=
APP_JWT_REFRESH_TOKEN_EXPIRES_IN=
APP_JWT_ACCESS_TOKEN_SECRET=jwttoken

#Users
APP_CONFIRMATION_EMAIL_SENDER=
APP_CONFIRMATION_EMAIL_TAG=CONFIRMATION_EMAIL_TEMPLATE
APP_CONFIRMATION_MAX_ATTEMPTS=3
APP_CONFIRMATION_EXPIRATION_MS=86400000
APP_FORGOT_PASSWORD_EMAIL_SENDER=
APP_FORGOT_PASSWORD_EMAIL_TAG=FORGOT_PASSWORD_EMAIL_TEMPLATE
APP_FORGOT_PASSWORD_MAX_ATTEMPTS=3
APP_FORGOT_PASSWORD_EXPIRATION_MS=900000
APP_CONFIRMATION_EMAIL_SENDER=loomer@loomi.com
APP_FORGOT_PASSWORD_EMAIL_SENDER=loomer@loomi.com


#AWS
AWS_REGION=
AWS_ACCESS_KEY=
AWS_ACCESS_SECRET_KEY=
AWS_INJECT_ACCESS=
AWS_BUCKET_NAME=
